<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>17商城</title>
    <link rel="stylesheet" th:href="@{/css/css.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>

    <script type="text/javascript" th:src="@{/js/js.js}"></script>

    <script type="text/javascript" th:src="@{/js/wb.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var vm1 = new Vue({
                el: '#app1',
                data: {
                    aShops: []
                }
            });
            var vm2 = new Vue({
                el: '#app2',
                data: {
                    bShops: []
                }
            });
            var vm3 = new Vue({
                el: '#app3',
                data: {
                    cShops: []
                }
            });
            var vm4 = new Vue({
                el: '#app4',
                data: {
                    rShops: []
                }
            });

            $.ajax({
                url: "findByKindId", // 请求路径
                type: "POST", //请求方式
                data: {"shopKindId": 1},
                success: function (data) {
                    vm1.aShops = data;

                },//响应成功后的回调函数
                error: function () {
                    alert("出错啦...")
                }//表示如果请求响应出现错误，会执行的回调函数

            });
            $.ajax({
                url: "findByKindId", // 请求路径
                type: "POST", //请求方式
                data: {"shopKindId": 6},
                success: function (data) {
                    vm2.bShops = data
                },//响应成功后的回调函数
                error: function () {
                    alert("出错啦...")
                }//表示如果请求响应出现错误，会执行的回调函数
            });

            $.ajax({
                url: "findByKindId", // 请求路径
                type: "POST", //请求方式
                data: {"shopKindId": 4},
                success: function (data) {
                    vm3.cShops = data
                },//响应成功后的回调函数
                error: function () {
                    alert("出错啦...")
                }//表示如果请求响应出现错误，会执行的回调函数
            });
            $.ajax({
                url: "findShopRecommend", // 请求路径
                type: "POST", //请求方式
                success: function (data) {
                    vm4.rShops = data;
                },//响应成功后的回调函数
                error: function () {
                    alert("出错啦...")
                }//表示如果请求响应出现错误，会执行的回调函数
            });
        })
    </script>


    <script type="text/javascript">
        $(function () {
            $("#kinMaxShow").kinMaxShow();
        });
    </script>
</head>

<body>
<div id="app">
    <div class="mianCont">
        <div class="top">
            <span>您好！欢迎来到17商城 请&nbsp;<a href="/loginPage">[登录]</a>&nbsp;<a href="reg.html">[注册]</a></span>
            <span class="topRight">
    <a href="vip.html">我的17</a>&nbsp;| 
    <a href="order.html">我的订单</a>&nbsp;| 
    <a href="login.html">会员中心</a>&nbsp;|
    <a href="contact.html">联系我们</a>
   </span>
        </div><!--top/-->
        <div class="lsg">
            <h1 class="logo"><a href="/index"><img th:src="@{/images/logo.png}" width="217" height="90"/></a></h1>
            <form action="#" method="get" class="subBox">
                <div class="subBoxDiv">
                    <input type="text" class="subLeft"/>
                    <input type="image" th:src="@{/images/subimg.png}" width="63" height="34" class="sub"/>
                    <div class="hotWord">
                        热门搜索：
                        <a href="proinfo.html">冷饮杯</a>&nbsp;
                        <a href="proinfo.html">热饮杯</a> &nbsp;
                        <a href="proinfo.html">纸杯</a>&nbsp;
                        <a href="proinfo.html">纸巾</a> &nbsp;
                        <a href="proinfo.html">纸巾</a> &nbsp;
                        <a href="proinfo.html">纸杯</a>&nbsp;
                    </div><!--hotWord/-->
                </div><!--subBoxDiv/-->
            </form><!--subBox/-->
            <div class="gouwuche">
                <div class="gouCar">
                    <img th:src="@{/images/gouimg.png}" width="19" height="20" style="position:relative;top:6px;"/>&nbsp;|&nbsp;
                    <strong class="red">0</strong>&nbsp;件&nbsp;|
                    <strong class="red">￥ 0.00</strong>
                    <a href="order.html">去结算</a> <img th:src="@{/images/youjian.jpg}" width="5" height="8"/>
                </div><!--gouCar/-->
                <div class="myChunlv">
                    <a href="vip.html"><img th:src="@{/images/mychunlv.jpg}" width="112" height="34"/></a>
                </div><!--myChunlv/-->
            </div><!--gouwuche/-->
        </div><!--lsg/-->
        <div class="pnt">
            <div class="pntLeft">
                <h2 class="Title">所有商品分类</h2>
                <ul class="InPorNav">
                    <li><a href="/findShopByKindId?shopKind=1">纸杯系列</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=2">PET系列</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=3">饮品杯配套系列</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=4">纸浆环保餐具系列</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=5">纸餐盒系列</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=6">刀叉勺餐具</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=7">生活用纸</a>
                    </li>
                    <li><a href="/findShopByKindId?shopKind=8">纸袋/环保打包袋</a>
                    </li>
                </ul><!--InPorNav/-->
            </div><!--pntLeft/-->
            <div class="pntRight">
                <ul class="nav">
                    <li class="navCur"><a href="index.html">商城首页</a></li>
                    <li><a href="product.html">促销中心</a></li>
                    <li><a href="login.html">会员中心</a></li>
                    <li><a href="help.html">帮助中心</a></li>
                    <div class="clears"></div>
                    <div class="phone">TEL：021-12345678</div>
                </ul><!--nav/-->
                <div class="banner">
                    <div id="kinMaxShow">
                        <div>
                            <a href="#"><img th:src="@{/images/ban1.jpg}" height="360"/></a>
                        </div>
                        <div>
                            <a href="#"><img th:src="@{/images/ban2.jpg}" height="360"/></a>
                        </div>
                        <div>
                            <a href="#"><img th:src="@{/images/ban3.jpg}" height="360"/></a>
                        </div>
                        <div>
                            <a href="#"><img th:src="@{/images/ban4.jpg}" height="360"/></a>
                        </div>
                        <div>
                            <a href="#"><img th:src="@{/images/ban5.jpg}" height="360"/></a>
                        </div>
                    </div><!--kinMaxShow/-->
                </div><!--banner/-->
            </div><!--pntRight/-->
            <div class="clears"></div>
        </div><!--pnt/-->
        <div class="rdPro">
            <div class="rdLeft">
                <ul class="rdList">
                    <li>推荐产品</li>
                </ul><!--rdList/-->
                <div class="rdProBox" id="app4">
                    <dl v-for="shop in rShops">
                        <dt>
                            <a  v-bind:href="['findShopById?shopId='+shop.shop_id]">
                                <img class="img-responsive" v-bind:src="shop.shop_img" width="132px" height="129px"/>
                            </a>{{shop.shop_name}}

                        </dt>
                        <br>
                        <dd class="cheng">￥{{shop.shop_money}}元</dd>
                    </dl>
                </div><!--rdPro/-->
            </div><!--rdLeft/-->
            <div class="rdRight">
                <img th:src="@{/images/rdRight.jpg}" width="221" height="254"/>
            </div><!--rdRight/-->
            <div class="clears"></div>
        </div><!--rdPro/-->
        <div class="hengfu">
            <img th:src="@{/images/hengfu1.jpg}" width="979" height="97"/>
        </div><!--hengfu/-->
        <div class="floor" id="floor1">
            <h3 class="floorTitle">
                1F&nbsp;&nbsp;&nbsp;&nbsp;杯子系列
                <a href="proinfo.html" class="more">更多 &gt;</a>
            </h3>
            <div class="floorBox">
                <div class="floorLeft">

                    <div class="flImg"><img th:src="@{/images/flListimg.jpg}" width="198" height="290"/></div>
                </div><!--floorLeft/-->
                <div class="floorRight">
                    <div class="frProList" id="app1">
                        <dl v-for="shop in aShops">
                            <dt>
                                <a v-bind:href="['findShopById?shopId='+shop.shop_id]">
                                    <img class="img-responsive" v-bind:src="shop.shop_img" width="132px" height="129px"/>
                                </a>{{shop.shop_name}}
                            </dt>
                            <br>
                            <dd class="cheng">￥{{shop.shop_money}}元</dd>
                            <dd class="cheng"></dd>
                        </dl>
                        <div class="clears"></div>
                    </div><!--frProList-->
                </div><!--floorBox/-->
            </div><!--floor/-->
            <div class="hengfu">
                <img th:src="@{/images/hengfu1.jpg}" width="979" height="97"/>
            </div><!--hengfu/-->

            <div class="floor" id="floor2">
                <h3 class="floorTitle">
                    2F&nbsp;&nbsp;&nbsp;&nbsp;餐具系列
                    <a href="proinfo.html" class="more">更多 &gt;</a>
                </h3>
                <div class="floorBox">
                    <div class="floorLeft">
                        <div class="flImg"><img th:src="@{/images/flListimg.jpg}" width="198" height="290"/></div>
                    </div><!--floorLeft/-->
                    <div class="floorRight">
                        <div class="frProList" id="app2">
                            <dl v-for="shop in bShops">
                                <dt><a v-bind:href="['findShopById?shopId='+shop.shop_id]"><img class="img-responsive"
                                                                 v-bind:src="shop.shop_img"
                                                                 width="132px"
                                                                 height="129px"/></a>{{shop.shop_name}}
                                </dt>
                                <br>
                                <dd class="cheng">￥{{shop.shop_money}}元</dd>
                                <dd class="cheng"></dd>
                            </dl>
                            <div class="clears"></div>
                        </div><!--frProList-->
                    </div><!--floorBox/-->
                </div><!--floor/-->
            </div><!--floor/-->

            <div class="hengfu">
                <img th:src="@{/images/hengfu1.jpg}" width="978" height="97"/>
            </div><!--hengfu/-->

            <div class="floor" id="floor3">
                <h3 class="floorTitle">
                    3F&nbsp;&nbsp;&nbsp;&nbsp;纸浆模塑系列
                    <a href="proinfo.html" class="more">更多 &gt;</a>
                </h3>
                <div class="floorBox">
                    <div class="floorLeft">

                        <div class="flImg"><img th:src="@{/images/flListimg.jpg}" width="198" height="290"/></div>
                    </div><!--floorLeft/-->
                    <div class="floorRight">
                        <div class="frProList" id="app3">
                            <dl v-for="shop in cShops">
                                <dt><a v-bind:href="['findShopById?shopId='+shop.shop_id]"><img class="img-responsive"
                                                                                                 v-bind:src="shop.shop_img"
                                                                                                 width="132px"
                                                                                                 height="129px"/></a>{{shop.shop_name}}
                                </dt>
                                <br>
                                <dd class="cheng">￥{{shop.shop_money}}元</dd>
                                <dd class="cheng"></dd>
                            </dl>
                            <div class="clears"></div>
                        </div><!--frProList-->

                        <div class="clears"></div>
                    </div>

                </div>
                <div class="clears"></div>
            </div>
        </div><!--floor/-->
        <div class="inHelp">
            <div class="inHLeft">
                <h4>帮助中心</h4>
                <ul class="inHeList">
                    <li><a href="help.html">购物指南</a></li>
                    <li><a href="help.html">支付方式</a></li>
                    <li><a href="help.html">售后服务</a></li>
                    <li><a href="about.html">企业简介</a></li>
                </ul><!--inHeList/-->
            </div><!--inHLeft/-->
            <div class="inHLeft">
                <h4>会员服务</h4>
                <ul class="inHeList">
                    <li><a href="reg.html">会员注册</a></li>
                    <li><a href="login.html">会员登录</a></li>
                    <li><a href="order.html">购物车</a></li>
                    <li><a href="order.html">我的订单</a></li>
                </ul><!--inHeList/-->
            </div><!--inHLeft/-->
            <div class="inHRight">
                <h4>全国统一免费服务热线</h4>
                <div class="telBox">400-0000-0000</div>
            </div><!--inHRight/-->
            <div class="clears"></div>
        </div><!--inHelp/-->
        <div class="footer">
            <p>
                <a href="#">进入17官网</a>&nbsp;|&nbsp;
                <a href="index.html">商城首页</a>&nbsp;|&nbsp;
                <a href="product.html">促销中心</a>&nbsp;|&nbsp;
                <a href="order.html">我的订单</a>&nbsp;|&nbsp;
                <a href="#">新闻动态</a>&nbsp;|&nbsp;
                <a href="login.html">会员中心</a>&nbsp;|&nbsp;
                <a href="#">帮助中心</a>
            </p>
        </div><!--footer/-->
    </div><!--mianCont/-->
    <a href="#" class="backTop">&nbsp;</a>
</div>
</body>

</html>
