<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.user.dao.MemberCarMapper">
  <resultMap id="BaseResultMap" type="com.zz.user.pojo.MemberCar">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="make_id" jdbcType="INTEGER" property="makeId" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="buy_year" jdbcType="INTEGER" property="buyYear" />
    <result column="current_mileage" jdbcType="INTEGER" property="currentMileage" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="last_update_time" jdbcType="INTEGER" property="lastUpdateTime" />
  </resultMap>


  <insert id="insert" parameterType="com.zz.user.pojo.MemberCar">
    insert into member_car (id, member_id, brand_id, 
      make_id, model_id, car_id, 
      buy_year, current_mileage, remark, 
      type, create_time, last_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{brandId,jdbcType=INTEGER}, 
      #{makeId,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, 
      #{buyYear,jdbcType=INTEGER}, #{currentMileage,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{createTime,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=INTEGER}
      )
  </insert>

</mapper>